<div class="container">
  
    <table class='table table-hover table-striped table-responsive'>
        <thead>
        <tr>
          <th>Date</th>
          <th>BP</th>
          <th>Pulse</th>
          <th>Temperature</th>
          <th>Oxygen Sat</th>
          <th>Height</th>
          <th>Weight</th>
        </tr>
        </thead>
        <tr *ngFor="let vitals of vitals; let i = index; ">
          <td>{{(vitals.encounter_datetime | date:'dd-MM-yyyy')  || '&nbsp;'}}</td>
          <td>
            <span [style.color]="(vitals.systolic_bp && (vitals.systolic_bp <= 80 || vitals.systolic_bp >= 140)) ? 'red':''" >{{vitals.systolic_bp && vitals.systolic_bp + "/"}}</span>
            <span [style.color]="(vitals.diastolic_bp && (vitals.diastolic_bp <= 50 || vitals.diastolic_bp >= 90)) ? 'red':''">{{(vitals.diastolic_bp && vitals.diastolic_bp)  || '&nbsp;'}}</span>
          </td>
          <td>
            <span [style.color]="(vitals.pulse && (vitals.pulse <= 0 || vitals.pulse >= 100))? 'red':''">{{vitals.pulse  || '&nbsp;'}}</span>
          </td>
          <td>
            <span [style.color]="(vitals.temp && (vitals.temp <= 35.0 || vitals.temp >= 38.0)) ? 'red':''" >{{vitals.temp  || '&nbsp;'}}</span>
          </td>
          <td>
            <span [style.color]="(vitals.oxygen_sat && vitals.oxygen_sat <= 89)? 'red':''">{{vitals.oxygen_sat  || '&nbsp;'}}</span>
          </td>
          <td>{{vitals.height  || '&nbsp;'}}</td>
          <td>{{vitals.weight  || '&nbsp;'}}</td>
        </tr>
      </table>
</div>